header .nav_style{
    background-color:#282828;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nav_style .nav_left li,
.nav_style .nav_right li{
    align-self:center;
    padding:6px 6px ;
    color: #878787;
}

.nav_left_icon>*{
    padding-right: 8px;
    
}

.icon_1:hover,
.icon_2:hover{
    color: white;
}

.song_hover:hover{
    text-decoration: underline;
    color: white;
}

.short_bar:hover,
.short_vol:hover{
    border: 3px solid;
}



.nav_style ul li> .p_nav_style,.song_hover{
    line-height: 1;
    margin: 0;
    margin-right: 8px;
    margin-left: -8px;
}

.img_nav_style>img{
    width: 50px;
    height: 50px;
}

.play_bg{
    font-size: 25px;
}

.progress_bar,
.progress_bar>*{
    display: inline-block;
}

.progress_bar,
.progress_bar{
    vertical-align: text-bottom;
}

.nav_right{
    width: 150px;
}

.nav_right li{
    width: 100%;
}

.progress_bar{
    width:35%;
}

.nav_middle{
    flex-grow: 1;
}

.long_bar,
.long_vol{
    width: 70%;
    border: 2px solid;
    border-radius: 2px;
    color: gray;
}

.short_bar,
.short_vol{
    width: 30%;
    color: azure;
    border: 2px solid;
    border-radius: px;
}

.nav_right li span{
    padding-right:  8px; 
}
 

@media screen and (max-width:650px){
    .nav_style .nav_left li,
    .nav_style .nav_right li{
        padding:4px 4px ;
    }

    .img_nav_style>img{
        width: 35px;
        height: 35px;
    }

    .nav_style ul li> .p_nav_style{
        font-size: 10px;
        line-height: 1;
        margin: 0;
        margin-right: 0px;
        margin-left: -4px;
    }

    .nav_left_icon{
        font-size: 10px;
    }

    .xs_mq_padding_1{
        font-size: 20px;
        padding: 0;
    }

    .nav_middle
    .xs_mq_padding_0{
        font-size: 15px;
        padding: 0;
    }

    .nav_right{
        width:100px;
    }

    .nav_right li span{
        padding-right:  0px; 
    }
   section.big_section{
        width: 100vw;
        height: calc(100vh - 47px);
       display: flex;
    }

    
}
/* end header */



/* start main/asaid */


.big_section{
    
    width: 100vw;
    height: calc(100vh - 62px);
   display: flex;
}

aside{
  
    background-color: rgb(10, 10, 10);
    width: 210px;
    height:100%;
} 

.list_grow{
    flex-grow: 1;
    overflow: auto; 
}

.list_grow ul{
    list-style-type: none;   
}

.img_under_logo{
    width: 30px;
    height: 30px;
    display: block;
    color: green;

}

/* main parth */

main{
    background-color:wheat;
    width:calc(100vw - 210px);
    overflow: auto;
}


/* non used class */

.border{
    border:1px solid red ;
}

/* utility class */
.color_gray{
    color: rgba(167, 20, 20, 0.712);
}

.pl_10{
    padding-left: 10px;
}

.pr_10{
    padding-right: 10px;
}


.display_flex{
    display:flex;
}

.display_flex_column{
    display:flex;
    flex-direction: column;
}

.color_white{
    color: white;
}

